#signup-page {
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    #signup-container {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .input-container {
        padding: 0.5rem;
        grid-template-columns: 1fr 1fr;
        .input-signup-login {
            padding: 0.25rem;
            border-radius: 1rem;
        }
    }
}