.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  white-space: nowrap;
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  cursor: pointer;
  border-radius: 1rem;
  border-style: none;
  box-shadow: 3px 3px 0px 0px #3B3B3B;
  background-color: #FFC300;
}
.google-button .google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.google-button .google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}
.google-button:hover {
  border-radius: 1rem;
  border-style: none;
  box-shadow: 3px 3px 4px 0px #333333;
  background-color: black;
  color: #FFC300;
}
#home-page {
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
}
#home-page #header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: #000;
  color: #fff;
  margin: auto;
  width: 100%;
  height: 100%;
  min-height: calc(750px * 2 / 12);
  border-bottom: 1.75px solid rgba(255, 202, 9, 0.9);
}
#home-page #header #header-title {
  display: flex;
}
#home-page #main {
  grid-column: 2 / 5;
  grid-row: 2 / 13;
  padding: 2rem;
  background: #000;
  overflow-y: auto;
  width: auto;
  height: 100%;
  min-height: calc(750px * 10 / 12);
}
#home-page #main div:not(.MuiPaper-root) {
  height: 100%;
}
#home-page #sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 13;
  padding: 0 1rem;
  background: #000;
  color: #fff;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.75px;
  display: grid;
  min-width: 250px;
  min-height: 750px;
  border-right: 1.75px solid rgba(255, 202, 9, 0.9);
}
#home-page #sidebar #sidebar-heading {
  border-bottom: 1.75px solid rgba(255, 202, 9, 0.9);
  display: flex;
  min-height: calc(750px * 2 / 12);
}
#home-page #sidebar #sidebar-heading #sidebar-heading-logo {
  margin: auto;
  text-align: center;
  width: 50%;
}
#home-page #sidebar #sidebar-heading #sidebar-heading-logo img {
  height: 50px;
}
#home-page #sidebar #sidebar-heading #sidebar-heading-name {
  margin: auto;
  width: 50%;
  width: calc(100% * 2/3);
}
#home-page #sidebar #sidebar-heading #sidebar-heading-name h2 {
  text-align: center;
}
#home-page #sidebar #sidebar-user {
  border-bottom: 1.75px solid rgba(255, 202, 9, 0.9);
  display: flex;
  min-height: calc(750px * 2 / 12);
}
#home-page #sidebar #sidebar-user #sidebar-user-logo {
  width: calc(100% * 1/3);
  margin: auto;
  text-align: center;
}
#home-page #sidebar #sidebar-user #sidebar-user-logo img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
#home-page #sidebar #sidebar-user #sidebar-user-detail {
  width: calc(100% * 2/3);
  text-align: center;
  padding: 0 0 0 1rem;
  margin: auto;
  font-size: 0.85rem;
}
#home-page #sidebar #sidebar-user #sidebar-user-detail .sidebar-user-detail-card {
  padding: 0.125rem 0 0.125rem 0;
}
#home-page #sidebar #sidebar-user #sidebar-user-detail .sidebar-user-detail-card p {
  text-align: center;
  width: 100%;
}
#home-page #sidebar #sidebar-user #sidebar-user-detail .sidebar-user-detail-card.logout {
  cursor: pointer;
}
#home-page #sidebar #sidebar-user #sidebar-user-detail .sidebar-user-detail-card.logout button {
  background-color: #ffca09;
  color: black;
  border-radius: 7.5px;
  border: 0.5px solid black;
  padding: 0.25rem;
  transition: 0.25s;
  width: 75%;
  border: none;
  cursor: pointer;
}
#home-page #sidebar #sidebar-user #sidebar-user-detail .sidebar-user-detail-card.logout button:hover {
  box-shadow: 0 0 5px white;
}
#home-page #sidebar #sidebar-user #sidebar-user-detail .sidebar-user-detail-card.logout button:active {
  background-color: rgba(255, 202, 9, 0.7);
}
#home-page #sidebar #sidebar-menu {
  margin-top: 1rem;
}
#home-page #sidebar #sidebar-menu .sidebar-menu-item {
  padding: 1rem;
  border-radius: 10px 10px 10px 10px;
  display: flex;
}
#home-page #sidebar #sidebar-menu .sidebar-menu-item:hover {
  background-color: #ffca09;
  color: black;
}
#home-page #sidebar #sidebar-menu .sidebar-menu-item:hover div {
  background-color: #ffca09;
  color: black;
}
#home-page #sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-child {
  padding: 0 0.5rem;
}
