@import '../setting.less';

#home-page {
    grid-template-columns: 1fr 11fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    #header {
        grid-column: ~"2 / 3";
        grid-row: ~"1 / 2";
        background: #000;
        color: #fff;
        margin: auto;
        width: 100%;
        height: 100%;
        min-height: calc(~"750px * 2 / 12");
        border-bottom: 1.75px solid rgba(255,202,9,.9);
        #header-title {
            display: flex;
        }
    }
    #main {
        grid-column: ~"2 / 5";
        grid-row: ~"2 / 13";
        padding: 2rem;
        background: #000;
        overflow-y: auto;
        width: auto;
        height: 100%;
        min-height: calc(~"750px * 10 / 12");
        div:not(.MuiPaper-root) {
            height: 100%;
        }
    }
    #sidebar {
        grid-column: ~"1 / 2";
        grid-row: ~"1 / 13";
        padding: 0 1rem;
        background: #000;
        color: #fff;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1.75px;
        display: grid;
        min-width: 250px;
        min-height: 750px;
        border-right: 1.75px solid rgba(255,202,9,.9);
        #sidebar-heading {
            border-bottom: 1.75px solid rgba(255,202,9,.9);
            display: flex;
            min-height: calc(~"750px * 2 / 12");
            #sidebar-heading-logo {
                margin: auto;
                text-align: center;
                width: 50%;
                img {
                    height: 50px;
                }
            }
            #sidebar-heading-name {
                margin: auto;
                width: 50%;
                width: calc(~"100% * 2/3");
                h2 {
                    text-align: center;
                }
            }
        }
        #sidebar-user {
            border-bottom: 1.75px solid rgba(255,202,9,.9);
            display: flex;
            min-height: calc(~"750px * 2 / 12");
            #sidebar-user-logo {
                width: calc(100% * 1/3);
                margin: auto;
                text-align: center;
                img {
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                }
            }
            #sidebar-user-detail {
                width: calc(100% * 2/3);
                text-align: center;
                padding: 0 0 0 1rem;
                margin: auto;
                font-size: 0.85rem;
                .sidebar-user-detail-card {
                    padding: 0.125rem 0 0.125rem 0;
                    p {
                        text-align: center;
                        width: 100%;
                    }
                    &.logout {
                        cursor: pointer;
                        button {
                            background-color: #ffca09;
                            color: black;
                            border-radius: 7.5px;
                            border: 0.5px solid black;
                            padding: 0.25rem;
                            transition: 0.25s;
                            width:75%;
                            border: none;
                            cursor: pointer;
                            &:hover {
                                box-shadow: 0 0 5px white;
                            }
                            &:active {
                                background-color: rgba(255,202,9,0.7);
                            }
                        }
                    }
                }
            }
        }
        #sidebar-menu {
            margin-top: 1rem;
            .sidebar-menu-item {
                padding: 1rem;
                border-radius: 10px 10px 10px 10px;
                display: flex;
                &:hover {
                    background-color: #ffca09;
                    color: black;
                    div {
                        background-color: #ffca09;
                        color: black;
                    }
                }
                .sidebar-menu-item-child {
                    padding: 0 0.5rem;
                }
            }
        }
    }
}